#menuLayer {
	display: none;
	z-index: 11;
	position: absolute;
	text-align: center;
	bottom: 20px;
	height: 100px;
	width: 100%;
}

#menuLayer .menu {
	display: block;
	z-index: 11;
	height: 100%;
	width: 600px;
	margin:0 auto;
	color: #FFFFFF;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.8);
	border:1px solid;
	border-radius: 9px;
}

input {
	height: 20px;
	width: 20px;
}

.PopLayer {
	display: none;
	position: fixed;
	z-index: 10;
	background: rgba(38, 38, 38, 0.95);
	color: #edffff;
	border: 1px solid #444;
	border-radius: 7px;
	box-shadow: 0 0 10px 1px #000;
	text-align: right;
	padding: 10px;
	padding-top: 3px;
}

.PopLayer a {
	font-weight: bold;
	font-size: 16px;
    text-decoration: none;
    color: #edffff;
}

.PopLayer .popBox {
	z-index: 10;
	width: 400px;
	position: absolute;
	top: 30px;
	left: 20px;
	margin: 0;
	background: transparent;
}

#infoPopLayer {
	top: 20px;
	left: 10px;
}

#infoPopLayer table{
	text-align: center;
	width: 400px;
}

#infoPopLayer th{
	background: rgba(38, 38, 100, 1);
	width: 50%;
}

#infoPopLayer td{
	background: rgba(200, 200, 255, 1);
}

#descPopLayer {
	top: 50px;
	right: 10px;
	width: 400px;
}

#picPopLayer {
	bottom: 20px;
	right: 10px;
}




#chartPopLayer {
	display: none;
	position: fixed;
	z-index: 10;
	bottom: 20px;
	left: 10px;
	width: 440px;
	height: 340px;
	background: rgba(38, 38, 38, 0.95);
	color: #edffff;
	border: 1px solid #444;
	border-right: none;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	box-shadow: 0 0 10px 1px #000;
}

#chartPopLayer .popBox {
	display: block;
	z-index: 10;
	width: 440px;
	height: 340px;
	bottom: 0px;
	position: absolute;	
	background: transparent;
}

#chartPopLayer .close {
	display: block;
	position: absolute;
	z-index: 11;
	top: 5px;
	right: 5px;
	height: 20px;
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 16px;
	padding: 0 5px;
	margin: 0;
	color: #edffff;
	text-decoration: none;
	text-align: right;
}